.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.not-found-title {
  font-size: 40px;
}

.not-found-description {
  font-size: 15px;
}