.directory {
  position: fixed;
  top: 50%;
  left: 0;
  width: 260px;
  margin: 0 30px 0 10px;
  max-height: calc(100vh - 120px);
  min-width: 200px;
  transform: translateY(-50%);
  transition: transform .2s ease;
  overflow: auto;
}

.collapse {
  transform: translate(-300px, -50%);
}

.list {
  padding: 0;
  list-style: none;
}

.list-item {
  cursor: pointer;
}

.list-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.list-item {
  text-decoration: none;
  color: #1f2329;
  font-size: 14px;
}

.list-item:hover {
  text-decoration: underline 1px solid #1f2329;
}

.list-item-1 {
  padding-left: 0px;
}

.list-item-2 {
  padding-left: 20px;
}

.list-item-3 {
  padding-left: 40px;
}

.list-item-4 {
  padding-left: 60px;
}

.list-item-5 {
  padding-left: 80px;
}

.list-item-6 {
  padding-left: 100px;
}
