.demo-box-page {
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
}

.demo-box-item {
    width: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.demo-box-item:hover {
    box-shadow: 2px 2px 5px #efefef;
    transform: scale(1.01);
    transition: all .1s ease-in;
}

.demo-box-item > img {
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.demo-box-item > p {
    margin: 0;
    padding: 5px 10px 15px;
}